body {
 font-family: 'Baloo Thambi', cursive;
 font-sie: large;
}

.maintitle {
 padding: 5px;
 border: 10px solid black;
 margin: 15px;

}

.about {
 padding: 5px;
 border: 10px solid black;
 margin: 15px;

}

.Team {
 padding: 5px;
 border: 10px solid black;
 margin: 15px;
}
