body {
 font-family: 'Baloo Thambi', cursive;
 font-sie: large;
 background-color: blue;
}

.maintitle {
  padding: 5px;
  border: 10px solid black;
  margin: 15px;
  background-color: white;

}

.about {
  padding: 5px;
  border: 10px solid black;
  margin: 15px;
  background-color: white;

}

.Team {
  padding: 5px;
  border: 10px solid black;
  margin: 15px;
  background-color: white;
}
